/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 30, 2019, 3:55:23 PM
    Author     : Mike254
*/
.titled-pane > .title {
    -fx-background-color: grey;
    -fx-pref-height: 0.000001; 

}

.titled-pane > .title > .arrow-button .arrow{
    
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */; 
    -fx-translate-x: 200;
    -fx-translate-y: -10;
}

.titled-pane > .content
{

    -fx-padding: 0 -1 -1 -1 ; 
    -fx-background-insets: 0 0 0 0; 
}
