/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 8, 2020, 4:40:42 PM
    Author     : bonyo
*/
.jfx-spinner .arc{
    -fx-stroke: #007AFF;
}
.jfx-spinner .percentage{
    -fx-fill: null;
}