/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 6, 2020, 2:10:20 PM
    Author     : bonyo
*/

.HBox { 
    -fx-border-style: solid none none none;
    -fx-border-width: 5;
    -fx-border-color: black;
}